* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  padding-left: auto;
  padding-right: auto;
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  max-width: 415px;
  padding: 0 24px;
  font-size: 1.25rem;
  margin-bottom: 64px;
}

.intro-chunk > p > strong {
  color: hsl(160deg, 100%, 30%);
}

.title {
  line-height: 120%;
  font-weight: 800;
  margin-top: 96px;
  margin-bottom: 48px;
}

.card {
  padding: 8px 0;
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  font-size: 1.25rem;
}

.card > p {
  margin: 24 0px;
  padding: 0 24px;
}

.indented-heading {
  margin: 0 24px 24px -8px;
  background-color: #FFBF00;
  padding: 16px 32px;
  max-width: fit-content;
  border-bottom: 8px solid #CC9900;
  font-size: 1.5rem;
}

main {
  padding: 64px 0;
  border-top: 8px solid hsl(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 40%);
}